@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400:500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* aqui se agrega*/

.navbar a {
    font-size: 155%;
}

.navbar a:nth-child(3) {
    color: #00abf0;
    font-weight: 800;
}



.carrusel {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    padding: 5% 10%;

}

img {

    width: 50vh;
    height: 30vh;
    border-radius: 5px;
    border: 3px solid hsl(221, 81%, 14%, 30%);
}

img:hover {
    border: 3px solid hsl(223, 17%, 92%, 20%);
}