@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400:500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/* aqui se agrega*/

.navbar a {
    font-size: 155%;
}

.navbar a:nth-child(3) {
    color: #00abf0;
    font-weight: 800;
}



.contenido {
    margin: 150px 0 0 00px;
    width: 93%;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*contenedor 1*/

.containerText {
    height: 100%;
    text-align: center;
}

.btnDocument {
    margin-top: 22px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 30px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 5px;
    font-size: 15px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btnDocument:hover {
    color: #00abf0;
}

.btnDocument::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btnDocument:hover::before {
    width: 100%;
}




/*contenedor 2*/
.container {
    display: flex;
    justify-content: center;
    gap: 7px;
    height: 100%;
}

.container img {
    width: 9%;
    margin: 0px 0 0 00px;

    object-fit: cover;
    border-radius: 7px;
    border: 2px solid #070707;
    transition: all ease-in-out 0.5s;
}

.container img:hover {
    width: 50%;
    border: 3px solid #013950;
    z-index: 100;

}







#caso {
    width: 65%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #00abf0;
    transition: all ease-in-out 0.5s;
    background: #261547;
    padding-top: 35px;
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 400;
}

#caso dialog {
    margin: 150px 0 0 200px;
    width: 70%;
}

#caso dialog button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ads {
    text-align: center;
}