.navbar a:nth-child(2) {
    color: rgb(0, 171, 240);
    font-weight: 800;
}

.navbar a {
    font-size: 155%;
}


.skills {
    background-color: transparent;
    margin-top: 8%;
    color: rgb(197, 240, 252);
    padding: 0px 20px;
}


.contenido-seccion {
    border: 1px solid rgb(117, 105, 105, 0.18);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0px 22px 22px 10px rgba(0, 0, 0, 0.37);
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.skills .skill>span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 8px;
    width: 80%;
    background-color: #081b29;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso {
    background-color: rgb(0, 171, 240);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgb(0, 171, 240);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}






.skills .skill .javascript {
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}




.skills .skill .htmlcss {
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}


.skills .skill .photoshop {
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}


.skills .skill .java {
    width: 0%;
    animation: 2s java forwards;
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.skills .skill .react {
    width: 0%;
    animation: 2s react forwards;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}


.skills .skill .sqlmongo {
    width: 0%;
    animation: 2s sqlmongo forwards;
}

@keyframes sqlmongo {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.skills .skill .comunicacion {
    width: 0%;
    animation: 2s comunicacion forwards;
}

@keyframes comunicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.skills .skill .trabajoequipo {
    width: 0%;
    animation: 2s trabajoequipo forwards;
}

@keyframes trabajoequipo {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .creatividad {
    width: 0%;
    animation: 2s creatividad forwards;
}

@keyframes creatividad {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}


.skills .skill .dedicacion {
    width: 0%;
    animation: 2s dedicacion forwards;
}

@keyframes dedicacion {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


.skills .skill .adaptacion {
    width: 0%;
    animation: 2s adaptacion forwards;
}

@keyframes adaptacion {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

.skills .skill .iniciativa {
    width: 0%;
    animation: 2s iniciativa forwards;
}

@keyframes iniciativa {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}